@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Playpen+Sans:wght@100..800&family=Playwrite+CU:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Neonderthaw&family=Warnes&family=WindSong:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nova+Mono&family=Rubik+Glitch&family=Tsukimi+Rounded&display=swap");

.launchpad .inline-title {
  display: none;
}

.launchpad .metadata-properties-heading {
  display: none;
}

.launchpad .metadata-content {
  display: none;
}

.launchpad .main_header_2 {
  text-align: center;
  font-size: 35px;
  font-family: "Nova Mono", system-ui;
  color: var(--text-accent);
}

.launchpad .note_2 {
  display: block;
  margin: auto auto;
  background-color: var(--background-primary-alt);
  border-radius: 20px;
  padding: 30px;
  width: 100%;
  max-width: 900px;
}

.launchpad .note_2 .note {
  align-content: left;
  text-align: left;
  font-size: xx-large;
  font-family: "Nova Mono", monospace;
  color: var(--text-accent);
}

.launchpad .note_2 .author {
  align-content: right;
  text-align: right;
  font-size: medium;
  font-family: "Nova Mono", monospace;
  color: var(--text-normal);
}

a.tag {
  font-family: "Formular", var(--font-text);
  display: flex;
  padding: 7px 7px 7px 7px;
  margin: -5px 10px -5px 10px;
  justify-content: space-between;
}

.launchpad .callout {
  background-color: var(--background-primary-alt);
  border: none;
  border-radius: 20px;
}

.launchpad .callout-title {
  display: none;
}

.launchpad .callout-content {
  padding: 10px 10px 10px 10px;
  display: grid;
  grid-template-columns: auto auto;
}

.view-content {
  z-index: 0;
}

.launchpad .inline-title {
  display: none;
  height: 0px;
}

.launchpad .view-header {
  display: none;
}

.launchpad .block-language-dataviewjs {
  width: auto;
  height: auto;
  padding: 20px;
  overflow: hidden;
  background-color: var(--font-text);
}

.launchpad .banner-image {
  width: 100%;
  margin: 0px;
  top: 0;
  left: 0;
  position: absolute;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0))
  );
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  z-index: -1;
  border-radius: 20px;
}

.launchpad .widget {
  height: 60px;
  background-color: var(--background-secondary);
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.launchpad .widget h1 {
  font-size: medium;
}

.launchpad .columnParent {
  width: 100%;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.launchpad .columnParent .columnChild {
  width: 100%;
  max-width: 400px;
  min-width: 300px;
}
