.inline-title {
  align-items: center;
  align-content: center;
}

.popover {
  border: solid var(--text-accent);
}

.callout::after {
  content: "";
  width: 48px;
  height: 15px;
  border-radius: 10px;
  position: absolute;
  display: inline-block;
  background: var(--callout-color);
  margin-top: 0.3%;
  margin-left: auto;
  border: var(--border-lowOp);
  box-shadow: var(--sbs);
}

.callout {
  background: transparent;
}

body {
  --callout-border-width: 2px;
  --callout-border-opacity: 1;
}

.titlebar-button .mod-minimize,
.mod-maximize,
.mod-close {
  display: none;
}


.two-columns {
  columns: 2;
}

.two-columns {
  column-count: var(--column-count, 2);
}
