.inline-title {
  align-items: center;
  align-content: center;
}

.popover {
  border: solid var(--text-accent);
}

body {
  --callout-border-width: 2px;
  --callout-border-opacity: 1;
}

.titlebar-button .mod-minimize,
.mod-maximize,
.mod-close {
  display: none;
}

.widgets {
  background-color: transparent;
  border: none;
}

.header_image {
  width: 100%;
  margin: 0px auto;
  position: sticky;
  top: 0;
  left: 0;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
  opacity: 0.8;
  z-index: -1;
  border-radius: 30px 30px 0px 0px;
}

.content {
  margin-top: 200px;
}

.view-content {
  padding: 0px;
  margin: 0px;
  width: 100%;
}

.launchpad .inline-title {
  display: none;
}

.launchpad .metadata-properties-heading {
  display: none;
}

.launchpad .metadata-content {
  display: none;
}

.launchpad .main_header {
  text-align: center;
  font-size: 60px;
}

.launchpad .clock_widget {
  display: flex;
  justify-content: center;
}

.launchpad .note_2 {
  display: block;
  margin: auto auto;
}

.launchpad .note_2 .note {
  align-content: left;
  text-align: left;
  font-size: xx-large;
}

.launchpad .note_2 .author {
  align-content: right;
  text-align: right;
  font-size: small;
}
